# Server
PORT=3000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=demo_credit

# Authentication
JWT_SECRET=your-secret-key-here

# Lendsqr Adjutor API
ADJUTOR_BASE_URL=https://adjutor.lendsqr.com/v2
ADJUTOR_API_KEY=your-adjutor-api-key-here
